* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  background-color: #ffb703;
}

body > h1 {
  font-size: 4rem;
  line-height: 5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

#container {
  width: 50%;
  margin: auto;
}

#new-task {
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}

#new-task input {
  width: 60%;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid #858585;
  padding-left: 1rem;
}

#create-task {
  width: 20%;
  height: 2.5rem;
  background-color: #219ebc;
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

#create-task:hover {
  background-color: #1a7288;
}

#tasks {
    width: 100%;;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 2rem;
}

.task {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.delete {
  cursor: pointer;
}